#contents {
    max-width: 800px;
    width: 100%;
    padding: 8px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 64px;
}

#contents section {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: stretch;
}

.input {
    background: white;
    resize: none;
    outline: none;
    padding: 8px;
}

button.action-button {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    background: #009688;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(90deg);
}

button.action-button::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 18px;
    height: 4px;
    background: white;
    transform: translate(-50%, -50%);
}

button.action-button::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 6px;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-color: white white transparent transparent;
    transform: rotate(45deg) translate(-70%, 0);
}

button.action-button:hover {
    background: #26a69a;
}

button.action-button:hover,
button.action-button:focus {
    outline: 0px;
}

.error-messages {
    width: 100%;
    font-weight: bold;
    color: red;
}

.error-messages {
    margin: 16px auto 32px;
}

.error-messages:empty {
    margin: 0;
}

.result {
    padding: 16px;
    min-height: 32px;
    background: #eee
}

.section {
    flex: 1;
    margin: 16px;
    border-radius: 9px;
    border: 1px solid #c9c9c9;
    text-align: left;
}

@media only screen and (min-width: 1200px) {
    #contents {
        max-width: 2000px;
    }

    #contents section {
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .action-section {
        margin-top: 16px;
        width: 300px;
    }

    button.action-button {
        transform: none;
    }

    .section {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
}

.action-section select {
    margin: 16px;
}

.section::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

.section::-webkit-scrollbar-track {
    background: none;
}

.section::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #aaa;
}

.section::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

@media (prefers-color-scheme: dark) {
    .input {
        background: black;
    }

    .result {
        background: #202020;
    }

    .section {
        border-color: #535353;
    }

    .hovered {
        background: #0F594F;
    }

    .error {
        background: #BF0000;
    }
}

#mode-chooser {
    margin-bottom: 32px;
}

#mode-chooser input {
    display: none;
}

#mode-chooser label {
    margin: 4px 8px;
    opacity: 0.75;
    cursor: pointer;
    padding: 8px;
}

#mode-chooser input:checked+label {
    font-weight: bold;
    opacity: 1;
    cursor: default;
    text-decoration: underline;
}